.contact {
	overflow: hidden;

	.container__flex {
		display: block;

		@media only screen and (min-width: 850px) {
			display: flex;
		}
	}
}

.contact-section__copy {
	margin-bottom: $base-spacing * 2;
	position: relative;

	@media only screen and (min-width: 850px) {
		@include span-columns(4);
		margin-bottom: 0;
	}

	p {
		font-size: 20px;
	}

	&::before {
		@include position(absolute, null null -50% -25%);
		@include size(125%, 100%);
		background-image: url("../img/branding/logo-primary.png");
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		display: block;
		opacity: 0.3;
	}
}

.contact-section__form {
	@media only screen and (min-width: 850px) {
		@include span-columns(8);
	}

	span {
		color: $color-black-l;
		font-size: 12px;
		font-weight: 300;
		letter-spacing: 1px;
		text-transform: uppercase;
	}
}

.form-item {
	margin-bottom: $base-spacing;

	&__half {
		@media only screen and (min-width: 850px) {
			@include span-columns(4 of 8);
		}
	}

	&__full {
		@media only screen and (min-width: 850px) {
			@include span-columns(8 of 8);
		}
	}
}

input[type="text"],
input[type="email"] {
	// @include margin(10px null);
	@include padding(0 0 0 10px);
	@include size(100%, 40px);
	@include border-width(0 0 1px);
	background: transparent;
	border-bottom-color: $medium-gray;
	color: $color-black-l;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.checkbox-inline {
	line-height: 1;

	li {
		cursor: pointer;
		display: inline-block;
		margin-right: $base-spacing;
		vertical-align: middle;

		&:last-child {
			margin-right: 0;
		}

		>* {
			vertical-align: middle;
		}

		label {
			display: inline;
			margin: 0;
		}
	}
}

textarea {
	@include size(100%, 160px);
	@include padding(10px);
	background: transparent;
	border: 1px solid $medium-gray;
	color: $color-black-l;
	font-size: 12px;
	font-weight: 300;
	letter-spacing: 1px;
	margin-top: $base-spacing;
	text-transform: uppercase;
}

.btn-submit {
	display: block;
	width: 100%;
}