.split-section {
	// height: 1%;
	@include outer-container(100%);
	position: relative;

	&__half {
		overflow: hidden;
		position: relative;
		width: 100%;

		@media only screen and (min-width: 860px) {
			position: initial;
			width: 50%;
		}

		&--right {
			@media only screen and (min-width: 860px) {
				float: right;
			}

			.split-section__half--bg {
				left: inherit;
				right: 0;
			}
		}

		&--left {
			@media only screen and (min-width: 860px) {
				float: left;
			}
		}


		&--bg {
			@include position(absolute, 0 null null 0);
			@include size(100%);
			background-repeat: no-repeat;
			background-size: cover;
			z-index: 0;

			@media only screen and (min-width: 860px) {
				width: 50%;
			}
		}
	}

	&__content {
		@include padding(100px $base-spacing);
		@include margin(0 auto);
		max-width: 450px;
		position: relative;
		z-index: 1;

		&--headline {
			font-size: modular-scale(7);
			margin-bottom: 0;
		}

		@media only screen and (min-width: 860px) {
			@include padding(null 0);
			max-width: 325px;

			&--headline {
				font-size: modular-scale(6);
			}
		}

		@media (min-width: 1120px) {
			max-width: 400px;

			&--headline {
				font-size: modular-scale(7);
			}
		}
	}
}