.team {
	.headline-w-sub {
		margin-bottom: 64px;

		span {
			color: $color-red-l;
			font-weight: 400;
			letter-spacing: 1px;
		}
	}

	&-member {
		text-align: center;
		margin-bottom: $base-spacing * 2;
		@media only screen and (min-width: 768px) {
			@include span-columns(4);
			margin-bottom: 0;
		}

		> img {
			width: 325px;
			max-width: 100%;
			height: auto;
		}

		&__name {
			font-size: 24px !important;
			font-weight: 500;
		}

		&__title {
			font-size: 16px !important;
		}
	}
}

