#zebra {
	@include position(fixed, 0);
	width: 100%;

	@media (min-width: 600px) {
		@include position(fixed, -50% 0 null 0);
	}
}

#triangle-corner {
	@include position(absolute, null -20% -2% null);
	z-index: -1;

	.fill-teal {
		fill: $color-black;
	}
}