.btn-event {
	background: $color-tiffany;
	border-color: $color-black;
	color: $color-black;

	&:hover {
		background-color: $color-black;
		border-color: $color-black;
		color: $color-white;
	}

	&-outline {
		background: transparent;
		border-color: $color-white;

		&:hover {
			background-color: $color-tiffany;
			border-color: darken($color-tiffany, 20%);
			color: $color-black;
		}
	}
}
