.btn {
	appearance: none;
	background-color: rgba($color-red, .85);
	border: 2px solid rgba($color-red, .85);
	border-radius: $base-border-radius;
	color: $color-white;
	cursor: pointer;
	display: inline-block;
	font-family: $base-font-family;
	font-size: 14px;
	-webkit-font-smoothing: antialiased;
	font-weight: 700;
	letter-spacing: 1px;
	line-height: $base-spacing;
	padding: $small-spacing ($base-spacing * 2);
	position: relative;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	// transition: background-color $base-duration $base-timing;
	transition: all .3s ease;
	user-select: none;
	vertical-align: middle;
	white-space: nowrap;

	&:hover {
		background-color: shade($color-red, 10%);
		border-color: shade($color-red, 10%);
		color: $color-white;
	}

	&:focus {
		outline: $focus-outline;
		outline-offset: $focus-outline-offset;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: .5;

		&:hover {
			background-color: shade($color-red, 10%);
		}
	}

	&__event {
		background: $color-tiffany;
		border-color: $color-black;
		color: $color-black;

		&:hover {
			background-color: $color-black;
			border-color: $color-black;
			color: $color-white;
		}

		&--primary {
			background: $color-tiffany;
			border-color: $color-tiffany;
			color: $color-black;

			&:hover {
				background-color: $color-tiffany-d;
				border-color: $color-tiffany-d;
				color: $color-black-d;
			}
		}

		&--outline-w {
			background: transparent;
			border-color: $color-white;

			&:hover {
				background-color: $color-tiffany;
				border-color: $color-tiffany-d;
				color: $color-black;
			}
		}
	}
}
