html {
	background-color: $viewport-background-color;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

.mobile {
	.page-section,
	.home-section,
	.small-section {
		background-attachment: scroll;
	}
}

.page-section {
	@include padding(60px null);
	background-attachment: fixed;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	display: block;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 0;

	@media only screen and (min-width: 480px) {
		@include padding(80px null);
	}

	@media only screen and (min-width: 768px) {
		@include padding(100px null);
	}

	@media only screen and (min-width: 1024px) {
		@include padding(120px null);
		background-attachment: scroll;
	}
}

.container {
	@include outer-container;
	@include padding(null $base-spacing);

	&__flex {
		display: flex;
	}

	&__lead {
		max-width: 800px;
	}
}

.row {
	@include row;
}

// Backgrounds

.bg-black {
	background-color: $color-black;
}

.bg-red {
	background-color: $color-red;
}

.bg-white {
	background-color: $color-white;
	color: rgba($color-black, .85);

	h2,
	h3,
	h4 {
		color: $color-black;
	}
}

.bg-black,
.bg-red {
	color: rgba($color-white, .85);

	h2,
	h3,
	h4 {
		color: $color-white;
	}
}

.bg-black,
.bg-red,
.bg-white {

	h2,
	h3,
	h4 {
		font-weight: 500;
	}
}