html {
	background-color: $viewport-background-color;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
}

.page-section {
	@include padding(110px null);
}

.container {
	@include outer-container;
	&__flex {
		display: flex;
	}
}

.container-lead {
	@include outer-container(800px);
}

.row {
	@include row;
}

// Backgrounds

.bg-red {
	background-color: $color-red;
}


.bg-black {
	background-color: $color-black;
}

.bg-white {
	background-color: #fff;
}


.bg-black,
.bg-red {
	color: rgba($color-white, .85);

	h2,
	h3,
	h4 {
		color: $color-white;
		font-weight: 500;
	}

	p {
		// font-size: 20px;
		font-size: modular-scale(1);
		font-weight: 300;
		line-height: 1.6;
	}
}




.pillar-wrap {
	@include span-columns(4);
	margin-bottom: 42px;

	&__middle {
		@include shift(4);
	}

	&__right {
		@include shift(8);
	}
}

.uppercase {
	color: $color-black-d;
	font-weight: 900;
	text-transform: uppercase;
}